
body {
	background-color: black;
}

#titel {
	color: white;
	text-align: center;
	margin-top: 50;
font-family: monospace;
}

#search {
	color: white;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#results {
	color : white;
}

#icon{
	color: white;
}
